@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.logo {
  position: absolute;
  top: -5%;
  left: 2.5%;
  height: 20vmax;
  width: 20vmax;
  z-index: 5;
}

.background {
  height: 130vh;
  width: 100vw;
  opacity: 0.6;
  z-index: 4;
}

.form {
  position: absolute;
  top: 90%;
  width: 40%;
  height: 20%;
  left: 30%;
  color: white;
  text-align: center;
}

.form__title {
  background: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vmax;
}

.form--text {
  color: black;
}
