.form__active {
  position: absolute;
  top: 70%;
  right: 15%;
  height: 30%;
  width: 20%;
}

.form__title--second {
  position: absolute;
  top: -20%;
  right: -10%;
  font-size: 1.5vmax;
  width: 100%;
  padding-bottom: 10%;
}

.submit--email--second {
  position: absolute;
  top: 0%;
  right: -20%;
  width: 50%;
  height: 37px;
  background: grey;
  color: white;
  font-size: 1vmax;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.submit--email--second:hover {
  color: white;
  background: lightgrey;
}

.line {
  position: absolute;
  top: -20%;
  left: 55vw;
  height: 150%;
  width: 1%;
  background: black;
  -webkit-transform: rotate(15deg);
}

.cover--second {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.clock {
  position: absolute;
  top: 20%;
  left: 15%;
  height: 30vw;
  width: 30vw;
  border: solid .5px black;
  border-radius: 50%;
}

.right {
  position: absolute;
  top: 50%;
  right: 0%;
  width: 8vw;
  height: 2px;
  background: lightgrey;
}

.left {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 8vw;
  height: 2px;
  background: lightgrey;
}


.top {
  position: absolute;
  top: 0%;
  right: 50%;
  width: 2px;
  height: 8vw;
  background: lightgrey;
}

.bottom {
  position: absolute;
  top: 73%;
  right: 50%;
  width: 2px;
  height: 8vw;
  background: lightgrey;
}

.tick {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50%;
  height: 3px;
  background: red;
  -webkit-transform: rotate(0deg);
  animation: ticking 4s;
}

@keyframes ticking {
      from {
        -webkit-transform: rotate(0deg);

      }
      to {
          transform:rotate(360deg);
      }
  }
